@charset "UTF-8";

/*Fontes_Externas======================================================================================*/
@font-face {
  font-family: 'Bebas';
  src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiny";
  src: url('../fontes/Tiny5-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*Raiz=================================================================================================*/
:root{
  --cor1:#DFF5EA;
  --cor2:#7CFAE7;
  --cor3:#7FE4FA;
  --cor4:#19D2FA;
  --cor5:#379AFA;
  --cor6:#5F7DFA;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-bebas: 'Bebas';
  --fonte-tiny: 'Tiny';
}



/*Configurações_Gerais=================================================================================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}



/*Div_caixa============================================================================================*/
main div#caixa{
    border-radius: 5px;
    min-height: 350px;
    min-width: 800px;
    background: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Div_caixa-txt============================================================================================*/
main div#caixa-txt{
    max-width: 390px;
    text-align: center;
    position: absolute;
    top: 47%;
    left: 28%;
    transform: translate(-50%, -50%);
}
main div#caixa-txt p{
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
}
main div#caixa-txt input{
    font-family: var(--fonte-bebas);
    background-color: orange;
    border: 0px;
    border-radius: 6px;
    margin: 25px 6px 2px 6px;
    font-size: 10pt;
    padding: 5px 50px 5px 50px;
}
main div#caixa-txt input:hover {
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.691);
}



/*Div_caixa-img============================================================================================*/
div#caixa-img img{
    width: 370px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

div#caixa-img img:hover {
    cursor: pointer;
}



/*@media===============================================================================================*/
@media (max-width: 690px) {
    /*div_caixa*/
    main div#caixa{
        min-height: 245px;
        min-width: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*div_caixa-txt*/
    main div#caixa-txt{
        max-width: 300px;
        top: 47%;
        left: 28%;
        transform: translate(-50%, -50%);
    }
    main div#caixa-txt p{
        display: inline-block;
        padding: 5px 5px 5px 5px;
        min-width: 250px;

        font-size: 0.7em;
    }
    main div#caixa-txt input{
        border-radius: 6px;
        margin: 10px 6px 0px 6px;
        font-size: 10pt;
        padding: 5px 50px 5px 50px;
    }
    /*div_caixa-img*/
    div#caixa-img img{
        width: 243px;
        height: 245px;
        top: 50%;
        left: 78%;
        transform: translate(-50%, -50%);
    }
}


@media (max-width: 520px) {
    /*div_caixa*/
    main div#caixa{
        min-height: 0px;
        min-width: 0px;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*div_caixa-txt*/
    main div#caixa-txt{
        max-width: 340px;
        transform: translate(-50%, 10%);
    }
    main div#caixa-txt p{
        padding: 5px 5px 5px 5px;
        min-width: 340px;
        font-size: 1em;
    }
    main div#caixa-txt input{
        border-radius: 5px;
        margin: 40px 12px 0px 12px;
        font-size: 12pt;
        padding: 5px 25px 5px 25px;
    }
    /*div_caixa-img*/
    div#caixa-img img{
        box-shadow: 2px 3px 6px black;
        border-radius: 5px;
        width: 340px;
        height: 200px;
        top: 50%;
        left: 78%;
        transform: translate(-50%, -100%);
    }
}